img{
  max-height: 300px;
}
h3{
  font-size: 35px;
  color: var(--ion-text-color, #000000);
}
p {
  margin-bottom: 40px;
  font-size: 20px;
  line-height: 1.5;
  color: var(--ion-color-step-600, #60646b); 
}
.slide-img-padding{
  padding: 20px;
}
.swiper-slide {
  display: block;
}


b {
  font-weight: 500;
}


.btn-primary{
  height: 60px;
}
